.container{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px black;
}
.div-text{
    width: 500px;
    height: 200px;
    border: solid 1px black;
}
.div-img{
    width: 500px;
    height: 200px;
    border: solid 1px black;

}